{% extends 'admin/base.twig.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
<div class="span12">
  <h2>{% if location is defined %}{{location.name}}{% if section is defined %} - {{section.name}}{% endif %}{% else
    %}Patrols{% endif %}</h2>
  {% if patrols is defined %}
  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Volunteer</th>
      <th>Completed</th>
    </tr>

    {% for patrol in patrols %}
    <tr>

      <td><a href="{{ path('admin_patrol_entries_list', {patrol_id:patrol.id}) }}">{{patrol.date}}</td>

      <td>
        {% if patrol.location.find_one %}
        <a href="">{{ patrol.location.find_one.name }}</a></td>
      {% endif %}
      <td>
        {% if patrol.volunteer.find_one %}
        {{ patrol.volunteer.find_one.first_name }} {{ patrol.volunteer.find_one.last_name }}
        {% endif %}
      </td>
      <td>{% if patrol.finished %}<i class="icon-ok"></i>{% endif %}</td>
      <td>

      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}
