html, body {
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-size: 125%;
    padding-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.center-text {
    text-align: center;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}