<ion-view title="transect_name" right-buttons="rightButtons">
<ion-content has-header='true'>

<div class="list">
	<div class="item" style="background-color: #f5f5f5; font-weight:bold; color: #222;">
		Favorites
	  <!-- <button class="button button-stable" ng-click='openModal()'> -->
	    <!-- Edit -->
	  <!-- </button> -->
	</div>
	<div ng-repeat="fav in favorites">
		<number-input field="fav.field" subcategory="fav.subcategory" name="fav.name"></number-input>
	</div>
	<div class="padding-horizontal">
		<div class='button button-block button-small' ng-click='openModal()'>Edit Favorites</div>
	</div>

	<div ng-repeat="category in categories" ng-init="activeTab = 0">
		<div class="item item-icon-right item-divider" ng-click="showThis = !showThis; resize()">
			<i ng-if="!showThis" class="icon ion-ios7-arrow-down"></i>
			<i ng-if="showThis" class="icon ion-ios7-arrow-up"></i>
			{{ category.name }}
		</div>

		<div class="item tabs" ng-show='showThis && category.subcategories'>
			<a class="tab-item" ng-repeat="sub in category.subcategories" ng-bind="sub.name"
				ng-class="{'active-tab': $parent.activeTab == $index}" ng-click="$parent.activeTab = $index" >
			</a>
		</div>

		<div ng-repeat="field in category.fields" ng-show='showThis && !category.subcategories.length'>
			<number-input field="field" subcategory="{id:-1}" ng-if="field.type == 'number'"></number-input>
			<radio field="field" subcategory="{id:-1}" ng-if="field.type == 'radio'"></radio>
			<checkbox field="field" subcategory="{id:-1}" ng-if="field.type == 'checkbox'"></checkbox>
		</div>

		<div ng-repeat="sub in category.subcategories" ng-show='showThis && $parent.activeTab == $index'>
			<div ng-repeat="field in category.fields">
				<number-input field="field" subcategory="sub" ng-if="field.type == 'number'"></number-input>
				<radio field="field" subcategory="sub" ng-if="field.type == 'radio'"></radio>
				<checkbox field="field" subcategory="sub" ng-if="field.type == 'checkbox'"></checkbox>
			</div>
		</div>
	</div>

	<h4 class='padding-left'>Comments</h4>
	<div class="list list-inset">
	  <label class="item item-input">
	    <textarea placeholder="Comments" ng-model="comments['val']"></textarea>
	  </label>
	</div>
</div>

<div class='padding'>
	<button class='button button-positive button-block' ng-click='submit()'>Submit</button>
</div>

</ion-content>
</ion-view>