<view title="transect_name" left-buttons="leftButtons" right-buttons="rightButtons">

<content has-header='true'>
<!-- <h3 class='text-center'>{{ transect_name }}</h3> -->
<slide-box>
	<slide ng-repeat="category in categories">
		
		<h3  class='padding'>{{category.name}}</h3>
		<div class="list">
			<div class="item item-input-inset" ng-repeat="field in category.fields | filter:{category_id:category.id}">
				<button class="button button-small icon ion-plus">
					
				</button>
				<label class="item-input-wrapper">
					<input type="text" placeholder="Email">
				</label>
				<button class="button button-small icon ion-minus">
					
				</button>
			</div>
		</div>
		<button>TEST</button>
		<!-- </content> -->
	</slide>
</slide-box>
<!-- <form ng-show='!confirm' >
	<accordion close-others="oneAtATime">
		<accordion-group heading="{{category.name}}" ng-repeat="category in categories" is-open="isopen">
			<accordion-heading> {{category.name}} 
				<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': isopen, 'glyphicon-plus': !isopen}"></i>
			</accordion-heading>
			aa
			<div ng-repeat="field in category.fields | filter:{category_id:category.id}">
				<number-input field="field" ng-if="field.type == 'number'">ss</number-input>
				<radio field="field" ng-if="field.type == 'radio'"></radio>
				<checkbox field="field" ng-if="field.type == 'checkbox'"></checkbox>
			</div>
		</accordion-group>
	</accordion>

	<div class='form-group'>
		<h4 class='text-center'>Comments</h4>
		<textarea class='form-control' rows='5' ng-model='comments'></textarea>
	</div>

	<div class='form-group'>
		<button type='submit' class='btn btn-default btn-block' ng-click="confirm = true">Next</button>
	</div>
</form> -->

<!-- <div ng-show='confirm'>
	<div ng-repeat="category in categories">
		<h3>{{ category.name }}</h3>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="field in category.fields | filter:{category_id:category.id}">
				<span class="badge">{{ field.val }}</span>
				{{ field.name }} 
			</li>
		</ul>	
	</div>
	<h3>Comments</h3>
	<p>{{comments}}</p>
	<button class='btn btn-primary btn-block' ng-click='submit()'>Confirm</button>
	<button class='btn btn-default btn-block' ng-click="confirm = false">Back</button>
</div> -->
</content>
</view>