<ion-view title="transect_name" right-buttons="rightButtons">
<ion-content has-header='true'>

<div class="list">
	<div class="item item-button-right" style="background-color: #f5f5f5; font-weight:bold; color: #222;">
		Favorites
	  <button class="button button-clear button-positive" ng-click='openModal()'>
	    Edit
	  </button>
	</div>
	<div ng-repeat="field in favorites">
		<div number-input></div>
	</div>
	<div ng-repeat="category in categories">
		<div class="item item-icon-right item-divider" ng-click="showThis = !showThis;resize()">
			<i ng-if="!showThis" class="icon ion-ios7-arrow-down"></i>
			<i ng-if="showThis" class="icon ion-ios7-arrow-up"></i>
			{{ category.name }} 
		</div>
		<div class="item tabs" ng-show='showThis' ng-init="activeTab = 0"
			ng-if="category.name == 'On-Shore Activities' || category.name == 'Boating'">
		  <div class="tab-item" ng-switch="category.name" ng-click='activeTab = 0' 
		  	ng-class='{active: activeTab == 0, positive: activeTab == 0}'>
		    <div ng-switch-when="On-Shore Activities">Rocky</div>
		    <div ng-switch-when="Boating">Inactive</div>
		  </div>
		  <div class="tab-item" ng-switch="category.name" ng-click='activeTab = 1' 
		  	ng-class='{active: activeTab == 1, positive: activeTab == 1}'>
		    <div ng-switch-when="On-Shore Activities">Sandy</div>
		    <div ng-switch-when="Boating">Active</div>
		  </div>
		</div>
		<div ng-repeat="field in category.fields" ng-show='showThis'>
			<div number-input ng-if="field.type == 'number'"></div>
			<div radio ng-if="field.type == 'radio'"></div>
			<div checkbox ng-if="field.type == 'checkbox'"></div>
		</div>
	</div>
	<h4 class='padding-left'>Comments</h4>
	<div class="list list-inset">
	  <label class="item item-input">
	    <textarea placeholder="Comments" ng-model="comments['val']"></textarea>
	  </label>
	</div>
</div>

<div class='padding'>
	<button class='button button-positive button-block' ng-click='submit()'>Submit</button>
</div>

</ion-content>
</ion-view>