<ion-view title="Patrol Submitted" hide-back-button="true">
    <ion-content class="padding">

        <div class='text-center'>
            <h3 class='padding'>Patrol More Transects?</h3>

            <a ng-href='#/select-transect/{{mpa_id}}/{{mpa_name}}' class='button button-block button-positive'>Yes</a>
            <a ng-click="logout()" class='button button-block button-positive'>No</a>
            <a ng-href='#/select-mpa' class='button button-block button-positive'>Change MPA</a>
        </div>

    </ion-content>
</ion-view>
