<div class="container" ng-controller='LoginController'>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#/dashboard" class="navbar-brand">Coastkeeper</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="#/volunteers">Volunteers</a></li>
			<li><a href="#/mpas">MPAs</a></li>
			<li><a href="#/patrols">Patrols</a></li>
			<li><a href="#/graphs">Graphs</a></li>
			<li><a href="#/datasheets">Datasheets</a></li>
		</ul>
		<ul class='nav navbar-nav navbar-right'>
			<li><a href="#" ng-click="logout()">Logout</a></li>
		</ul>
	</div>
</div>