<ion-view title="Select a Transect">
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div ng-repeat="mpa in mpas">
        <div class="item item-divider item-icon-right" ng-click="showThis = !showThis; resize();"
             ng-class="{active: showThis}">
          {{mpa.name}}
          <i class="icon" ng-class="showThis ? 'ion-ios7-arrow-up' : 'ion-ios7-arrow-down'"></i>
        </div>

        <div class="item item-icon-right" ng-repeat="t in mpa.transects"
             ng-show="showThis" ng-click="collect_data(mpa, t)">
          {{t.name}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Note</div>
      <div class="item item-text-wrap">
        For the patrols, remember to travel from North to South, with the ocean on your right.
      </div>
      <div class="item item-text-wrap">
        Also, only record your observations from the high tide mark on the beach to everything on your right.
      </div>
    </div>

  </ion-content>
</ion-view>
