<ion-view title="'Summary'" right-buttons="rightButtons">
<ion-content has-header='true'>

	<div ng-repeat="category in categories">
		<div class="item item-divider" ng-bind="category.name"></div>
		<ul class="list" ng-if="!category.subcategories.length">
			<li class="item" ng-repeat="field in category.fields">
				{{ field.name }}
				<span class="badge badge-stable" ng-bind="getTally(field,sub)['val']"></span>
			</li>
		</ul>
		<ul class="list" ng-if="category.subcategories.length">
			<li class="item" ng-repeat="field in category.fields">
				{{ field.name }}
				<span ng-repeat="sub in category.subcategories" class="badge badge-stable" 
					ng-bind="getTally(field,sub)['val']"></span>
			</li>
		</ul>	
	</div>

	<div class='padding'>
		<h4 class='text-left'>Comments</h4>
		<textarea readonly ng-bind='comments["val"]'></textarea>
		<button class='button button-block button-positive' ng-click='submit()'>Submit</button>
	</div>
</ion-content>
</ion-view>
