<ion-view title="Summary">
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div ng-repeat="category in categories">
      <div class="item item-divider">
        {{ category.name }}

        <span class="item-note">
          <span ng-repeat="sub in category.subcategories">
            {{ sub.name + ($even ? ' / ': '') }}
          </span>
        </span>
      </div>
      <ul class="list" ng-if="!category.subcategories.length">
        <li class="item item-text-wrap" ng-repeat="field in category.fields | orderBy:'name'">
          {{ field.name }}
          <span class="badge badge-stable" ng-bind="getTally(field,sub)['val']"></span>
        </li>
      </ul>
      <ul class="list" ng-if="category.subcategories.length">
        <li class="item item-text-wrap" ng-repeat="field in category.fields | orderBy:'name'">
          {{ field.name }}

          <span class="badge badge-stable">
            <span ng-repeat="sub in category.subcategories">
              {{ getTally(field,sub)['val'] + ($even ? ' /&nbsp;': '') }}
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class='padding'>
      <h4 class='text-left'>Comments</h4>
      <textarea readonly ng-bind='comments["val"]'></textarea>
      <button class='button button-block button-positive' ng-click='submit()'>Submit</button>
    </div>
  </ion-content>
</ion-view>
