<h1>Volunteers</h1>
<nav class="navbar" role="navigation">
	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
	    		<input type="text" class="form-control" placeholder="Search" ng-model='search'>
		</div>
	</form>
	<button class="btn btn-default navbar-btn" href="#">Create new Volunteer</button>
	<button class="btn btn-default navbar-btn" href="#">Manage Permissions</button>
</nav>
{{selected}}
<table class="table table-bordered" ng-show='users.length'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Role</th>
			<th>Controls</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2"><span class="is_admin">Administrators</span> are in bold.</td>
		</tr>
	</tfoot>
	<tbody>
		<tr ng-repeat="user in users | filter:search">
			<td>
				<a ng-class="{is_admin: user.is_admin}" href="#">
					{{ user.last_name }}, {{ user.first_name }}
				</a>
			</td>
			<td>{{user.roles[0].name}}</td>
			<td>
				<a class="btn btn-default btn-small" href="#">
					<i class="glyphicon glyphicon-eye-open"></i> View</a>
				<a class="btn btn-default btn-small" href="" ng-click='open(user.id)'>
					<i class="glyphicon glyphicon-pencil"></i> Edit</a>
				<a class="btn btn-small btn-danger">
					<i class="glyphicon glyphicon-trash"></i>Delete</a>
			</td>
		</tr>
	</tbody>
</table>


<p ng-show='!users'>There are no volunteers available. 
<a href="#">Create a new one?</a></p>



