.slider {
	height: 100%;
}
.button.button-small.icon.ion-minus {
	margin-right: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
