{% extends 'admin/base.twig.html' %}

{% block title %}View All Sections{% endblock %}

{% block content %}
<div class="span12">
    <h1>Sections</h1> 
    <table class="table table-hover">
            {% for section in section %}
            <tr>
              <td>
                  {{ section.name }}
              </td>              
              <td>
                <a href="{{ path('admin_sections_edit', {id:section.coastkeeper_location_id, section_id:section.id}) }}"><i class="icon-edit"></i></a> 
                <a href="{{ path('admin_sections_delete', {id:section.coastkeeper_location_id, section_id:section.id}) }}"><i class="icon-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
    </table>
    
</div>
{% endblock %}
