html, body {
    height: 100%;
}

header {
    text-align: center;
}

footer {
    padding-left: 15px;
}

h1 {
    font-size: 125%;
    padding-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.center-text {
    text-align: center;
}

.entry-container {
    margin-bottom: 30px;
}

.btn-container a {
    width: 25%;
}

.entry-container input {
    width: 40%;
    float: right;
    padding: .55em;
    margin: 0 ;
}

.container {
    overflow: auto;
}

.theme-ck {
    border: 1px solid #072e5a;
    background-image: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #3e74ae /*{a-bar-background-start}*/), to( #1E528B /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #3e74ae /*{a-bar-background-start}*/, #1E528B /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #3e74ae /*{a-bar-background-start}*/, #1E528B /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #3e74ae /*{a-bar-background-start}*/, #1E528B /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #3e74ae /*{a-bar-background-start}*/, #1E528B /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #3e74ae /*{a-bar-background-start}*/, #1E528B /*{a-bar-background-end}*/);
    background-color: #1E528B;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer {
    display: block; 
    position: absolute; 
    width: 100%; 
    bottom: 0px; 
}

/* UI Modifications */

.errors {
    text-align: center;
}

.ui-li {
    border-width: 1px 1px 0px;
}

.ui-corner-all {
    -webkit-border-radius:   .25em /*{global-radii-blocks}*/;
    border-radius:           .25em /*{global-radii-blocks}*/;
}

.ui-btn-corner-all {
    -webkit-border-radius:     .25em /*{global-radii-buttons}*/;
    border-radius:             .25em /*{global-radii-buttons}*/;
}

.ui-shadow {
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/             rgba(0,0,0,.1) /*{global-box-shadow-color}*/;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/      rgba(0,0,0,.1) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/              rgba(0,0,0,.1) /*{global-box-shadow-color}*/
}

.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: inset 0 0 3px      #3e74ae /*{global-active-background-color}*/, 0 0 3px       #3e74ae /*{global-active-background-color}*/;
    -webkit-box-shadow: inset 0 0 3px   #3e74ae /*{global-active-background-color}*/, 0 0 3px       #3e74ae /*{global-active-background-color}*/;
    box-shadow: inset 0 0 3px           #3e74ae /*{global-active-background-color}*/, 0 0 3px       #3e74ae /*{global-active-background-color}*/;
}

.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: 0 0 6px           #3e74ae /*{global-active-background-color}*/;
    -webkit-box-shadow: 0 0 6px        #3e74ae /*{global-active-background-color}*/;
    box-shadow: 0 0 6px                    #3e74ae /*{global-active-background-color}*/;
    background-color: rgba(59,112,170,0.25);   
}

.ui-btn-active {
    border: 1px solid       #2373a5 /*{global-active-border}*/;
    background:             #5393c5 /*{global-active-background-color}*/;
    font-weight: bold;
    color:                  #fff /*{global-active-color}*/;
    cursor: pointer;
    text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 0 /*{global-active-shadow-radius}*/ #3373a5 /*{global-active-shadow-color}*/;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #1E528B /*{global-active-background-start}*/), to( #3e74ae /*{global-active-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #1E528B /*{global-active-background-start}*/, #3e74ae /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #1E528B /*{global-active-background-start}*/, #3e74ae /*{global-active-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #1E528B /*{global-active-background-start}*/, #3e74ae /*{global-active-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #1E528B /*{global-active-background-start}*/, #3e74ae /*{global-active-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #1E528B /*{global-active-background-start}*/, #3e74ae /*{global-active-background-end}*/);
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

@media screen and (min-width: 320px) {
    #start-time, #end-time {
        width: 65%;
        float: left;
        padding: .55em;
    }

    .fill-time-btn {
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

}


@media screen and (min-width: 320px) {
    .time-entry {
        width: 290px;
        margin: 0 auto;
        text-align: center;
    }


}

@media screen and (min-width: 600px) {
    .entry-container {
        display: block;
        overflow: auto;
    }

    .entry-container label {
        float: left;
        margin-top: 18px;
    }


    .btn-container {
        float: right;
    }

    .btn-container input {
        float: left;
        width: auto;
        margin: 0 0 0 .5em;
    }
}

@media screen and (min-width: 720px) {
    .entry-container, .content {
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        width: 720px;
    }

}