{% extends 'admin/base.twig.html' %}

{% block title %} Delete Graph {% endblock %}

{% block content %}
<div span="12">
{% if graph %}
    <h1>Delete graph named {{ graph.name }}?</h1>
    <!--<div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> This action cannot be undone!
    </div>-->
    <form action="{{ path('admin_graph_delete', {id:graph.id}) }}" method="POST">
        <input type="hidden" name="approve_delete" value="1">
        <button type="submit" class="btn btn-danger">Yes, delete {{graph.name}}</button>
        <a href="{{ path('admin_graph_view', {id:graph.id}) }}" class="btn">Cancel</a>
    </form>
{% else %}
    <h1>This graph doesn't exist</h1>
    <a href="{{ path('admin_graph_view', {id:graph.id}) }}" class="btn btn-primary">
        Return to graphs
    </a>
{% endif %}
</div>
{% endblock %}

