{% extends 'admin/base.twig.html' %}

{% block title %}Graph Administrations{% endblock %}

{% block content %}
<div class="span12">
{% if volunteer is defined %}
    <h1>{{ graph.name }}</h1> 
  
	<p>
		<a class="btn btn-small" href="{{ path('admin_graph_edit', {id:graph.id}) }}"><i class="icon-pencil"></i> Edit</a>
		<a class="btn btn-small btn-danger" href="{{ path('admin_graph_delete', {id:graph.id}) }}"><i class="icon-white icon-trash"></i> Delete</a>
	</p>  
  
  <!--
    <table class="table table-hover">
            {% for section in section %}
            <tr>
              <td><a href=""> {{ section.name }}</a></td>
              <td>
                <a href="{{ path('admin_sections_edit', {id:location.id, section_id:section.id}) }}"><i class="icon-edit"></i></a> 
                <a href="{{ path('admin_sections_delete', {id:location.id, section_id:section.id}) }}"><i class="icon-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
    </table>
    
    <table>
      <tr>
        <td>
          <a href="{{ path('admin_sections_create', {id:location.id}) }}" class="btn"><i class="icon-plus"></i> Add new section</a>
          <a href="{{ path('admin_sections_view', {id:location.id}) }}" class="btn"><i class="icon-eye-open"></i> View Patrols </a> 
          <a href="{{ path('admin_export_data', {id:location.id}) }}" class="btn"><i class="icon-download"></i> Export Data</a>
        </td>
      </tr>
    </table>    
   --> 
      
{% else %}
	Volunteer not found.
{% endif %}               
</div>
{% endblock %}
