{% extends 'admin/base.twig.html' %}

{% block title %}Patrol Graphs{% endblock %}


{% block content %}
<div class="row">
  <div class="span12">
      <h1>Patrol Graphs</h1> 
    <div class="row">
      <div class="span4">
      	<form class="form-vertical" id="graphs-form" method="get" action="{{path('admin_graphs_data')}}">
          {% if datasheets %}
          <div class="control-group">
            <label class="control-label" for="datasheet">DataSheet</label>
            <div class="controls">
              <select name="datasheet" id="datasheet" >
                <option value="">Select a data source</option>
                {% for datasheet in datasheets %}
                <option value="{{datasheet.id}}">{{datasheet.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endif %}
          <div class="control-group">
            <label for="startDate" class="control-label">Start Date</label>
            <div class="controls">
              <input type="text" name="startDate" id="startDate" required>
            </div>
          </div>
          <div class="control-group">
            <label for="endDate" class="control-label">End Date</label>
            <div class="controls">
              <input type="text" id="endDate" name="endDate" required>
            </div>
          </div>
      		<div class="control-group">
            <label class="checkbox">
      			 <input type="checkbox" name= "completePatrol"> Show Only Completed Patrols</input>
            </label>
      		</div>
      		<div>
          	<button type="submit" 
                    id="create-graphs-btn"
                    class="btn btn-primary" 
                    data-loading-text="Generating..." 
                    autocomplete="off">
                    Create Graph
            </button>
          	<a href="{{ path('admin_graphs') }}" class="btn">Clear</a>
        	</div>
      	</form>  
      </div> 
      <div class="span8 chart-container">
    	 <canvas id="myChart" width="620" height="600"></canvas>  	
      </div>
    </div>
  </div>
</div>
{% endblock %}
