{% extends 'admin/base.twig.html' %}

{% block title %} Create new field {% endblock %}

{% block content %} 
  <div span="12">
    <h1>Create a new field</h1>

    <form class="form-horizontal" action="{{ path('admin_field_create', {datasheet_id:datasheet.id, category_id:category.id}) }}" method="POST">
      <div class="control-group {% if errors.field_name is defined %} error {% endif %}">
        <label for="field_name" class="control-label">Name</label>
        <div class="controls">
          <input type="text" name="field_name" id="field_name" value="{{ app.request.get( 'field_name' ) }}" >
          {% if errors.field_name is defined %}
          <span class="help-inline">{{ errors.field_name }}</span>
          {% endif %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create field</button>
        <a href="{{ path('admin_fields_list', {datasheet_id:datasheet.id, category_id:category.id}) }}" class="btn">Cancel</a>
      </div>



    </form>



  </div>
{% endblock %}

