{% extends 'admin/base.twig.html' %}

{% block title %} Delete field {% endblock %}

{% block content %}
<div span="12">
{% if field %}
    <h1>Delete field named {{ field.name }}?</h1>
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> This action cannot be undone!
    </div>
    <form 
        action="{{ path('admin_field_delete', {datasheet_id:datasheet.id, category_id:category.id, field_id:field.id}) }}" 
        method="POST">
        <input type="hidden" name="approve_delete" value="1">
        <button type="submit" class="btn btn-danger">Yes, delete {{field.name}}</button>
        <a href="{{ path('admin_fields_list', {datasheet_id:datasheet.id, category_id:category.id}) }}" class="btn">Cancel</a>
    </form>
{% else %}
    <h1>This field doesn't exist</h1>
    <a href="{{ path('admin_fields_list', {datasheet_id:datasheet.id, category_id:category.id}) }}" class="btn btn-primary">
        Return to fields
    </a>
{% endif %}
</div>
{% endblock %}

