{% extends 'admin/base.twig.html' %}

{% block title %}Select a field{% endblock %}

{% block content %}
<div class="span12">
    <h1>Data Fields</h1>
    {% if data %}
    <table class="table table-hover">
        <tr>
          <th>Data Field</th>
          <th colspan="2" >Category</th>
        </tr>
        {% for field in data %}
        <tr>
          <td>{{ field.entry.name }}</td>
          <td>{{ field.category.name }}</td>
          <td>
            <a href=""><i class="icon-edit"></i></a> 
            <a href=""><i class="icon-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div>
        <a href="" class="btn"><i class="icon-plus"></i> Create new field category</a>
        <a href="" class="btn"><i class="icon-plus"></i> Create new field</a>
    </div>
    
          
</div>
{% endblock %}
