{% extends 'admin/base.twig.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
<div class="span12">
    <h1>Patrols {% if location is defined and location[0] is not defined %} for {{location.name}} {% endif %} </h1>
    <h2>{% if section is defined and section[0] is not defined %}{{section.name}} {% endif %}</h2>
    {% if patrol is defined %}
    <table class="table table-hover">
            {% for patrol in patrols %}
            <tr>
              <td><a href="{{ path('admin_locations_view', {id:location.id}) }}"> {{ location.name }}</a></td>
              <td>
                <a href="{{ path('admin_locations_view', {id:location.id}) }}"><i class="icon-eye-open"></i></a> 
                <a href="{{ path('admin_export_data', {id:location.id}) }}"<i class="icon-download"></i></a>
                <a href="{{ path('admin_locations_edit', {id:location.id}) }}"><i class="icon-edit"></i></a> 
                <a href="{{ path('admin_locations_delete', {id:location.id}) }}"><i class="icon-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
    </table>    
    {% endif %}
          
</div>
{% endblock %}
