{% extends 'admin/base.twig.html' %}

{% block title %}Patrols{% endblock %}

{% block content %}
<div class="span12">
    
    <h2>{% if section is defined and section[0] is not defined %}{{section.name}} {% endif %}</h2>
    {% if patrols is defined %}
    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Section</th>
            <th>Volunteer</th>
            <th>Completed</th>
        </tr>   
            <!-- <pre>{{ dump(patrols) }}</pre> -->

            {% for patrol in patrols %}
            <tr>
                <td>{{patrol.date}}</td>
                <td><a href="{{ path('admin_locations_view', {id:patrol.location.id}) }}"> {{ patrol.location.name }}</a></td>
                <td>{{ patrol.section.name }}</td>
                <td>{% if patrol.volunteer is defined %}{{ patrol.volunteer }}{% endif %}</td>
                <td>{% if patrol.finished %}<i class="icon-ok"></i>{% endif %}</td>
              <td>
                
              </td>
            </tr>
            {% endfor %}
    </table>    
    {% endif %}
          
</div>
{% endblock %}
