<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8">
    {% block head %}
    <title>{% block title %}Coastkeeper Volunteer Patrol{% endblock %}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://{{ app.request.host }}/">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="web/css/styles.css">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script src="web/js/main.js"></script>
    {% endblock %}
</head> 

<body> 
    <div data-role="page"> 
        <header data-role="header" class="theme-ck"> 
            <h1>
                MPA Watch
            </h1>
        </header>
        <div data-role="content" class="wrapper content">
            <h1 class="center-text">
                {% block header %}{% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
        </div>
        <div class="push"></div>
        <footer data-role="footer" class="footer theme-ck">    
            {% block footer %}
            <p>
                &copy; 2013 San Diego Coastkeeper
            </p>
            {% endblock %}
        </footer>
    </div>
</body>
</html>
