{% extends "base.twig.html" %}

{% block title %}SD Coastkeeper Volunteer Login{% endblock %}

{% block header %}Volunteer Login{% endblock %}

{% block content %}
<div class="errors">
	{% if errors is defined %}
		{% for error in errors %}
			{{ error }}<br>
		{% endfor %}
	{% endif %}
</div>
<form action="{{ path('login') }}" method="POST" data-ajax="false">
	<label for="username" class="ui-hidden-accessible">Username:</label>
	<input type="text" name="username" id="username" value="" placeholder="Username">
	<label for="password" class="ui-hidden-accessible">Password:</label>
	<input type="password" name="password" id="password" value="" placeholder="Password">
	<input type="submit" value="LOGIN" data-inline="true" class="submit" data-role="button" >
</form>
<img src="../../web/img/lobster.png" class="footer-logo"></img>
{% endblock %}