{% extends "base.twig.html" %}

{% block title %}Coastkeeper Volunteer Login{% endblock %}

{% block header %}Login!{% endblock %}

{% block content %}
<div class="errors">
	{% if errors is defined %}
		{% for error in errors %}
			{{ error }}<br>
		{% endfor %}
	{% endif %}
</div>
<form action="{{ path('login') }}" method="POST" data-ajax="false">
	<label for="username" class="ui-hidden-accessible">Username:</label>
	<input type="text" name="username" id="username" value="" placeholder="Username">
	<label for="partner" class="ui-hidden-accessible">Partner:</label>
	<input type="text" name="partner" id="partner" value="" placeholder="Partner">
	<label for="password" class="ui-hidden-accessible">Password:</label>
	<input type="password" name="password" id="password" value="" placeholder="Password">
	<input type="submit" value="LOGIN" data-inline="true" class="submit" data-role="button" >
</form>
{% endblock %}