{% extends 'base.twig.html' %}

{% block title %}Coastkeeper Volunteer - Select a Location{% endblock %}

{% block header %}Select a Location{% endblock %}

{% block content %}
<div class="errors">
	{% if errors is defined %}
		{% for error in errors %}
			{{ error }}<br>
		{% endfor %}
	{% endif %}
</div>
{% if locations is defined %}
	<form action="{{ path('patrol_location_select') }}" method="POST" id="primary-location-form" data-ajax="false">
		<label for="primary-location" class="ui-hidden-accessible">Location:</label>
		<select name="primary-location" id="primary-location">
			<option value="" selected>Choose A Location</option>
			{% for location in locations %}
				<option value="{{ location.id }}">{{ location.name }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Continue" class="submit">
	</form>
{% else %}
	There are currently no locations to choose from.
{% endif %}
<a href="{{ path('logout') }}" data-role="button" data-ajax="false">Logout</a>
{% endblock %}