{% extends 'base.twig.html' %}

{% block title %}Coastkeeper Volunteer - Patrol{% endblock %}

{% block header %}Data Collection{% endblock %}

{% block content %}
<form id="data-entry-form" name="data-entry-form" action="{{ path('patrol_datasheet') }}" method="POST" data-ajax="false">
		{% for category in datasheet.categories.find_many %}
		<div data-role="collapsible" data-content-theme="c">
			<h3>{{ category.name }}</h3>
			<div class="entry-container">
				{% for entry in category.entries.find_many %}
				<label for="entry-{{ entry.id }}">
					{{ entry.name }}
				</label>
				<div data-role="controlgroup" data-type="horizontal" class="btn-container">
					<a data-role="button" data-icon="plus" data-inline="true" data-iconpos="notext" data-theme="c" data-ajax="false">+1</a>
					<a data-role="button" data-icon="minus" data-inline="true" data-iconpos="notext" data-theme="c" data-ajax="false">-1</a>
					<input type="number" name="entry-{{ entry.id }}" id="{{ entry.id }}" value="0" class="number-box" data-inline="true">
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		<input type="submit" class="submit" value="Done!">
</form>
{% endblock %}