{% extends 'base.twig.html' %}

{% block title %}Coastkeeper Volunteer - Select A Section{% endblock %}

{% block header %}Select A Section{% endblock %}

{% block content %}
{% if errors is defined %}
	<div class="errors">
		{% for error in errors %}
		{{ error }}<br>
		{% endfor %}
	</div>
{% endif %}
{% if sections is defined %}
<ul data-role="listview">
	{% for section in sections %}
		<li><a data-ajax="false" href="{{ path('patrol_section_start', {id:section.id}) }}">{{ section.name }}</a></li>
	{% endfor %}
</ul>
<br>
<a href="{{ path('patrol_finish') }}" data-ajax="false" data-role="button">Finish Patrol</a>
{% else %}
	No sections available for selection.
{% endif %}

{% endblock %}