{% extends 'admin/base.twig.html' %}

{% block title %}Select a location{% endblock %}

{% block content %}
<div class="span12">
    <h1>Select a location</h1>
    {% if locations %}
    <table class="table">
            {% for location in locations %}
            <tr><td><a href="{{ path('admin_export_data', {id:location.id}) }}"><i class="icon-download"></i> {{ location.name }}</a></td></tr>
            {% endfor %}
    </table>
    {% endif %}
    <a href="{{ path('admin_locations_create') }}" class="btn"><i class="icon-plus"></i> Create new location</a>
          
</div>
{% endblock %}
