{% extends 'admin/base.twig.html' %}

{% block title %}View Location's Sections{% endblock %}

{% block content %}
<div class="span12">
    <h1>{{ location.name }}</h1> 
  
    <table class="table table-hover">
            {% for section in section %}
            <tr>
              <td><a href="{{ path('admin_patrols', {location_id:location.id, section_id:section.id}) }}"> {{ section.name }}</a></td>
              <td>
                <a href="{{ path('admin_export_data_section', {lid:location.id, sid:section.id}) }}"><i class="icon-download"></i></a>
                <a href="{{ path('admin_sections_edit', {id:location.id, section_id:section.id}) }}"><i class="icon-edit"></i></a> 
                <a href="{{ path('admin_sections_delete', {id:location.id, section_id:section.id}) }}"><i class="icon-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
    </table>
    
    <table>
      <tr>
        <td>
          <a href="{{ path('admin_sections_create') }}" class="btn"><i class="icon-plus"></i> Add new section</a>
          <a href="{{ path('admin_patrols_one', {location_id:location.id}) }}" class="btn"><i class="icon-eye-open"></i> View Patrols </a> 
          <a href="{{ path('admin_export_data', {id:location.id}) }}" class="btn"><i class="icon-download"></i> Export Data</a>
        </td>
      </tr>
    </table>    
          
</div>
{% endblock %}
