{% extends 'admin/base.twig.html' %}

{% block title %} Delete category {% endblock %}

{% block content %}
<div span="12">
  {% if category %}
  <h1>Delete category named {{ category.name }}?</h1>
  {% if errors.category_delete is defined %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="error">&times;</button>
    <strong>Error!</strong> {{errors.category_delete}}
  </div>
  <a href="{{ path('admin_fields_list', {datasheet_id:datasheet.id, category_id:category.id})}}" class="btn">View
    fields</a>
  <a href="{{ path('admin_categories_list', {datasheet_id:datasheet.id}) }}" class="btn">Back to categories</a>
  {% else %}
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> This action cannot be undone!
  </div>
  <form action="{{ path('admin_category_delete', {datasheet_id:datasheet.id, category_id:category.id}) }}"
        method="POST">
    <input type="hidden" name="approve_delete" value="1">
    <button type="submit" class="btn btn-danger">Yes, delete {{category.name}}</button>
    <a href="{{ path('admin_categories_list', {datasheet_id:datasheet.id}) }}" class="btn">Cancel</a>
  </form>
  {% endif %}
  {% else %}
  <h1>This category doesn't exist</h1>
  <a href="{{ path('admin_categories_list', {datasheet_id:datasheet.id}) }}" class="btn btn-primary">
    Return to categorys
  </a>
  {% endif %}
</div>
{% endblock %}

