<div class="modal">
  <header class="bar bar-header bar-positive item-input-inset">
    <h1 class="title">Editing Favorites</h1>
    <button class="button button-clear" ng-click="closeModal()">Close</button>
  </header>

  <ion-content has-header="true" padding="true">
    <div class="" ng-bind="modalError"></div>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>

      <div class="item item-divider">
        Current Favorites
      </div>
      <div ng-repeat="field in favorites">
        <div class="item item-button-right">
          {{ field.name }}
          <button class="button button-clear button-assertive" ng-click="deleteFavorite(field.name)">
            <i class="icon ion-minus"></i>
          </button>
        </div>
      </div>

      <div ng-repeat="category in categories | hasNumericField:search">
        <div class="item item-icon-right item-divider" ng-click='showThis = !showThis;resize()'>
          <i ng-show="!showThis" class="icon ion-ios7-arrow-down"></i>
          <i ng-show="showThis" class="icon ion-ios7-arrow-up"></i>
          {{ category.name }}
        </div>
        
        <div class="item tabs" ng-show='showThis' ng-if="category.subcategories" ng-init="activeTab = 0">
          <div class="tab-item" ng-repeat="sub in category.subcategories" ng-bind="sub.name"
            ng-class="{positive: $parent.activeTab == $index}" ng-click="$parent.activeTab = $index" >
          </div>
        </div>

        <div ng-repeat="field in category.fields | filter:{name:search}" ng-show="showThis">
          <div class="item item-button-right">
            {{ field.name }}
            <button class="button button-clear button-balanced" ng-click="addFavorite(field)">
              <i class="icon ion-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- <button class="button button-block button-positive" ng-click="closeModal()">Close</button> -->
    </div>
  </ion-content>
</div>