{% extends 'admin/base.twig.html' %}

{% block title %} Edit Section {% endblock %}

{% block content %} 
  <div span="12">
    <h1>Edit</h1>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Editing section  {{section.name}}
    </div>
    <form class="form-horizontal" action="{{ path('admin_sections_edit', {id:section.coastkeeper_location_id, section_id:section.id}) }}" method="POST">
      <div class="control-group {% if errors.section_name is defined %} error {% endif %}">
        <label for="section_name" class="control-label">New name:</label>
        <div class="controls">
          <input type="text" name="section_name" id="section_name" value="{{ app.request.get( 'section_name') }}" >
          {% if errors.section_name is defined %}
          <span class="help-inline">{{ errors.section_name }}</span>
          {% endif %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ path('admin_locations_view', {id:section.coastkeeper_location_id}) }}" class="btn">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}

