{% extends 'admin/base.twig.html' %}

{% block title %} Create new section {% endblock %}

{% block content %} 
  <div span="12">
    <h1>Add a new section</h1>

    <form class="form-horizontal" action="{{ path('admin_sections_create', {id:location.id}) }}" method="POST">
      <div class="control-group {% if errors.section_name is defined %} error {% endif %}">
        <label for="sections_name" class="control-label">Name</label>
        <div class="controls">
          <input type="text" name="section_name" id="section_name" value="{{ app.request.get( 'section_name' ) }}" >
          {% if errors.sections_name is defined %}
          <span class="help-inline">{{ errors.sections_name }}</span>
          {% endif %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create section</button>
        <a href="{{ path('admin_locations_view', {id:location.id}) }}" class="btn">Cancel</a>
      </div>



    </form>



  </div>
{% endblock %}

