{% extends 'admin/base.twig.html' %}

{% block title %}View All Sections{% endblock %}

{% block content %}
<div class="span12">
    <h1>View All Sections</h1> 
  
    <table class="table table-hover">
            <tr>
                <th>Click to go to Section View (yet to be implemented)</th>
                <th>Click to go to Location View</th>
                <th></th>
            </tr>
            {% for section in section %}
            {% for location in location %}
            <tr>
              {% if section.coastkeeper_location_id == location.id %}
              <td><a href=""> {{ section.name }}</a></td>
              
              <td><a href="{{ path('admin_locations_view', {id:location.id}) }}">{{ location.name }}</a></td>
              
              <td>
                <a href="{{ path('admin_sections_edit', {id:section.coastkeeper_location_id, section_id:section.id}) }}"><i class="icon-edit"></i></a> 
                <a href="{{ path('admin_sections_delete', {id:section.coastkeeper_location_id, section_id:section.id}) }}"><i class="icon-trash"></i></a>
              </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endfor %}
    </table>
    
    <a href="{{ path('admin_locations') }}" class="btn"><i class="icon-chevron-left"></i>  Back</a>

</div>
{% endblock %}
