{% extends 'admin/base.twig' %}

{% block title %}Create New Volunteer{% endblock %}

{% block content %}
<div class="span12">
	<form action="" method="POST">
		{% form_theme form 'form.twig' %}
		{{ form_widget(form) }}
		<input type="submit" value="Create Volunteer" name="submit">
	</form>
</div>
{% endblock %}