{% extends "admin/base.twig" %}

{% block title %}Volunteer Administration{% endblock %}

{% block content %}
<div class="span12">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th></tr>
		</thead>
		<tbody>
			{% for volunteer in volunteers %}
			<tr>
				<td>{{ volunteer.id }}</td>
				<td>{{ volunteer.first_name }}</td>
				<td>{{ volunteer.last_name }}</td>
				<td>{{ volunteer.username }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}