header {
    text-align: center;
}

footer {
    padding-left: 15px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.entry-container {
    margin-bottom: 30px;
}

.btn-container a {
    width: 25%;
}

.entry-container input {
    width: 40%;
    float: right;
    padding: .55em;
    margin: 0 ;
}

.container {
    overflow: auto;
}



@media screen and (min-width: 320px) {
    #start-time, #end-time {
        width: 65%;
        float: left;
        padding: .55em;
    }

    .fill-time-btn {
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

}


@media screen and (min-width: 320px) {
    .time-entry {
        width: 290px;
        margin: 0 auto;
        text-align: center;
    }


}

@media screen and (min-width: 600px) {
    .entry-container {
        display: block;
        overflow: auto;
    }

    .entry-container label {
        float: left;
        margin-top: 18px;
    }


    .btn-container {
        float: right;
    }

    .btn-container input {
        float: left;
        width: auto;
        margin: 0 0 0 .5em;
    }
}

@media screen and (min-width: 720px) {
    .entry-container, .content {
        width: 665px;
        margin-left: auto;
        margin-right: auto;
    }

}