{% extends 'admin/base.twig.html' %}

{% block title %}Patrol{%endblock%}

{%block content %}
<h1>
	Patrol Data
</h1>
<h4>
{% if volunteer is defined %}
Volunteer: {{volunteer.first_name}} {{volunteer.last_name}}
{%endif%}
{% if patrol is defined %}
<ul class="unstyled">
	<li>
	Date:    {{patrol.date}}
	<li>
	Finished: 
{%if patrol.finished %}
Yes
{%else%}
No
{%endif%}
<li>
Start time: {{patrolEntry.start_time}}
<li>
End time: {{patrolEntry.end_time}}
<li>
Location: {{location.name}}
<li>
Section: {{section.name}}
<p>  </p>
<li>



  {% for category in categories %}
  <h1>{{category.name }}</h1>
    {%for patrolTally in patrolTallies %}
      {% if patrolTally.coastkeeper_patrol_entry_id == patrolEntryID %}
        {% set tallyNum = patrolTally.tally %}
        {% set deid = patrolTally.coastkeeper_datasheet_entry_id %}
        {% for dataEntry in dataEntries %}
	{% if deid == dataEntry.id %}	   
	{% if dataEntry.coastkeeper_datasheet_category_id == category.id %}
            {{dataEntry.name}}: {{tallyNum}} <br>
	    {% endif %}
	    {% endif %}
        {% endfor %}

       {% endif %}
     {% endfor %}
   {% endfor %}
</ul>
{%else%}
No Patrol Found.
{%endif%}
</h4>

{%endblock%}
