{% extends 'admin/base.twig.html' %}

{% block title %}Patrol{%endblock%}

{%block content %}
<h1>
	Patrol Data
</h1>

{% if volunteer is defined %}
	Entered by <strong>{{volunteer.first_name}} {{volunteer.last_name}} </strong>
on
{%endif%}

{% if patrol is defined %}
	Patrol on <strong> {{patrol.date}} </strong><br>

	{%if patrol.finished %}
		This patrol was finished. <br>
	{%else%}
		This patrol is <small class="uncompleted">incomplete</small><br>	{%endif%}
{% for patrolEntry in patrolEntries %}
{% for section in sections %}
	{% if section.id == patrolEntry.coastkeeper_section_id %}
		<h2>
			Data for the {{section.name}} section of {{location.name}}
		</h2>
	{% endif %}

{%if patrol.finished and patrolEntry.end_time is defined %}
Time of patrol: <strong>{{patrolEntry.start_time}} </strong> to <strong>{{patrolEntry.end_time}}</strong>
{%else%}
Start of patrol: <strong>{{patrolEntry.start_time}}
{% endif %}
  {% for category in categories %}
  <h3>{{category.name }}</h3>
  <table class="table table-bordered">
	  <thead>
		  <tr>
			  <th> Observation </th>
			  <th> Count </th>
		  </tr>
	  </thead>
	  <tbody>
		  {%for patrolTally in patrolTallies %}
     				 {% if patrolTally.coastkeeper_patrol_entry_id == patrolEntry.id %}
     				   {% set tallyNum = patrolTally.tally %}
     				   {% set deid = patrolTally.coastkeeper_datasheet_entry_id %}
     				   {% for dataEntry in dataEntries %}
					{% if deid == dataEntry.id %}	   
					{% if dataEntry.coastkeeper_datasheet_category_id == category.id %}
					<tr>
						<td>
							{{dataEntry.name}} 
						</td>
						<td>
							{{tallyNum}}
						</td>
					</tr>
	   					 {% endif %}
	   				 {% endif %}
	  			   {% endfor %}

				 {% endif %}
      		 {% endfor %}
	 </tbody>
 </table>
   {% endfor %}
</ul>
{% endfor %}
{%endfor %}

{%else%}
No Patrol Found.

{%endif%}


{%endblock%}
